<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="mb-3">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    Create a room
  <% end %>
</div>

<div class="mb-3">
  <p>Salas Públicas</p>
</div>
<% if @rooms.present? %>
  <nav class="nav flex-column">
    <% @rooms.each do |room| %>
      <%if room.dm == false%>
        <%= link_to room.name, room_path(room), class: 'nav-link room-nav-link' %>
      <% end %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    Não há salas.
  </div>
<% end %>
<div class="my-3">
  <p>Salas Privadas</p>
</div>
<% if @rooms.present? %>
  <% i = 0 %>
  <nav class="nav flex-column">
    <% @rooms.each do |room| %>
      <%if room.dm == true%>
        <%if room.user_id == current_user.id %>
            <div data-channel-subscribe="dm">
            <%= link_to  room_path(room), class: 'nav-link room-nav-link' do%>
              <% if @destinatario[i].status == true%>
                <p class="username"><%= @destinatario[i].username%><i class="status mx-3 glyphicon glyphicon-cloud " style="color: limegreen"></i></p>
              <% elsif @destinatario[i].status == false || @destinatario[i].status == nil %>
                <p class="username"><%= @destinatario[i].username%><i class="status mx-3 glyphicon glyphicon-cloud" style="color: grey"></i></p>
              <%end%>
            <%end%>
            </div>
        <% end %>
        <%if room.to == current_user.id %>
            <div data-channel-subscribe="dm">
            <%= link_to  room_path(room), class: 'nav-link room-nav-link' do%>
              <% if @remetente[i].status == true%>
                <p class="username"><%= @remetente[i].username%><i class="status mx-3 glyphicon glyphicon-cloud" style="color: limegreen"></i></p>
              <% elsif @remetente[i].status == false || @remetente[i].status == nil %>
                <p class="username"><%=@remetente[i].username%><i class="status mx-3 glyphicon glyphicon-cloud" style="color: grey"></i></p>
              <%end%>
            <%end %>
            </div>
        <% end %>
        <%i = i + 1 %>
      <% end %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    Não há salas.
  </div>
<% end %>
